.icon {
  color: #893E21;
  padding-right: 10px;
}

.icon:hover {
  color: #AF8749;
}

.fa-user {
  font-size: 25px;
}

.fa-cart-shopping {
  font-size: 25px;
}

.collapse {
  justify-content: center;
}

.icon_user {
  display: flex;
  justify-content: end;
}

.logo {
  height: 120px;
  width: 120px;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.nav-link {
  color: #893E21;
}

.nav-link:hover {
  color: #AF8749;
}

nav .navbar-toggler {
  background-color: #893E21;
}
nav .navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);
}

.block_header {
  background-image: url(../uploads/test.png);
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block_header h1 {
  color: white;
  text-align: center;
  font-size: 70px;
}
.block_header p {
  color: white;
  font-size: 30px;
}
.block_header .back_header {
  background-color: rgba(137, 62, 33, 0.3176470588);
  margin: auto;
  margin-left: 20px;
  padding: 30px;
  border-radius: 15px;
}

@media (max-width: 1224px) {
  .block_produit {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .card_collier {
    margin-bottom: 20px;
  }
  .card_bagues {
    margin-bottom: 20px;
  }
  .card_bracelets {
    margin-bottom: 20px;
  }
}
.block_produit {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.block_produit .btn_categories {
  text-decoration: none;
  color: white;
  background-color: #893E21;
  text-align: center;
  height: 30px;
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block_produit .btn_categories:hover {
  background-color: #AF8749;
}
.block_produit .card_collier {
  background-image: url(../uploads/collier4.jpg);
  height: 400px;
  background-position: center;
  background-size: cover;
  border: none;
}
.block_produit .card_bagues {
  background-image: url(../uploads/bagues4.jpg);
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
.block_produit .card_bracelets {
  background-image: url(../uploads/bracelets4.jpg);
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
.block_produit .card_boucles {
  background-image: url(../uploads/boucles4.jpg);
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.collection {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 5vw;
  flex-wrap: wrap;
}

.title_collection {
  text-align: center;
  margin-bottom: 5vw;
  background-color: #AF8749;
  color: #fff;
  padding: 5px 0;
}

footer {
  background-color: #893E21;
}

.footer-clean {
  padding: 0;
  background-color: #fff;
  color: white;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}
.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}
.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.block_contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.block_contact h1 {
  text-align: center;
  margin-bottom: 50px;
  background-image: url(../uploads/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.btn_contact {
  color: white;
  background-color: #893E21;
  margin-top: 50px;
}

.formulaire {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  width: 400px;
}

.btn-primary {
  background-color: #893E21;
  border: none;
  width: 100%;
}

.title_category {
  text-align: center;
  background-image: url(../uploads/category.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 0;
}

.btn-primary {
  background-color: #893E21;
  border: none;
  width: 100%;
}

.title_produit {
  text-align: center;
}

.card-body {
  text-align: center;
}
.card-body .btn-primary {
  background-color: #893E21;
  border: none;
  width: 100%;
}
.card-body .btn-primary:hover {
  background-color: #AF8749;
}

.btn-primary:hover {
  background-color: #AF8749;
}

.card .card-img-top {
  height: 300px;
  width: 286px;
}

.block_connexion {
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_co {
  width: 500px;
}
.block_co h1 {
  margin-bottom: 100px !important;
}
.block_co .btn_co {
  margin-top: 50px;
  background-color: #893E21;
  border: none;
}
.block_co .btn_co:hover {
  background-color: #AF8749;
}

.admin {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background-color: #893E21;
}

.btn_back {
  text-decoration: none;
  color: white;
}

.block_li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  margin-left: 20px;
}

.btn_back:hover {
  color: #AF8749;
}

.back {
  display: flex;
}

.photoback {
  width: 100px;
  height: 100px;
}

.product_back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
}

.table {
  width: 90vw;
}

.btn_backOffice {
  color: white;
  background-color: #893E21;
  text-decoration: none;
}

.btn_back {
  display: flex;
  padding: 10px;
}

.prod {
  width: 100px;
}

.title_back {
  text-align: center;
}

.lower {
  margin-top: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fiche_produit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.fiche_produit h2 {
  font-size: 20px;
}

.photo_produit {
  height: 45vh;
  width: 30vw;
  margin: 20px;
}

.product_front {
  border: 1px solid black;
  padding: 15px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 30vw;
}

.caracteristique {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prix_pdt {
  display: flex;
  align-items: center;
}

.description_pdt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn_panier {
  color: white;
  background-color: #893E21;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn_panier:hover {
  color: white;
  text-decoration: none;
  background-color: #AF8749;
}/*# sourceMappingURL=styles.css.map */