{% extends 'baseadmin.html.twig' %}

{% block title %}produit{% endblock %}

{% block body %}
<div class="product_back">
    <h1>Modifier le produit</h1>

    {{ include('products/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-lg btn-primary btn_co"  href="{{ path('app_products_index') }}">Revenir à la liste</a>

    {{ include('products/_delete_form.html.twig') }}
    </div>
{% endblock %}
